<div class = "container">
  <div class = "request">
    <h1>Send Url</h1>
    <div class = "form-group">
      <%= label_tag :url %>
      <%= text_field_tag(:url, nil, class: "form-control", required: true) %>
    </div>

    <div class = "form-group">
      <%= label_tag :method %>
      <%= select_tag(:method, options_for_select([ ['GET'],['POST'],['PUT'], ['DELETE']]), class: "form-control" ) %>
    </div>

    <div class = "form-group">
      <%= label_tag :mimetype %>
      <%= select_tag(:mimetype, options_for_select(Mime::LOOKUP.keys), class: "form-control") %>
    </div>

    <div class = "form-group">
      <%= label_tag :body %>
      <%= text_area_tag( :body, nil, class: "form-control", rows:10) %>
    </div>
   
    <div class = "form-group">
      <%= link_to 'SEND API CALL', '#', id:"send-api", class: 'btn btn btn-primary' %>
    </div>
  </div>
  <div class = "response">
    <h1>Response</h1>
    <div class = "form-group">
      <strong>HTTP RESPONSE STATUS</strong>
      <p id = "res-status"></p>
    </div>
    <div class = "form-group">
      <strong>RESPONSE BODY</strong>
      <textarea id = "res-body" class="form-control", readonly="true" rows = "20"></textarea>
    </div>
    <div class = "form-group">
      <strong>HEADERS</strong>
      <textarea id = "res-headers" class="form-control", readonly="true" rows = "10"></textarea>
    </div>
    <div class = "form-group">
      <%= link_to 'SEND ANOTHER', '#', id:"another-api", class: 'btn btn btn-primary' %>
    </div>
  </div>
</div>